/node_modules
/public/hot
/public/storage
/public/images
/public/css/app.css
/public/js/app.js
/public/css/app.css
/public/[0-9]*.js
/public/7.js
/public/css/app.css
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
