.bg-header{
    background-color: #2659F3;
    min-height: 65px;
    color: wheat;
    .title {
        color: #FBFF1F !important;
        font-size: 25px;
        font-weight: bold;
    }
    .round {
        border-radius: 35px;
        background: #FBFF1F;
        width: 35px;
        height: 35px;  
        color: #2659F3;
        text-align: center;
        padding-top: 6;
      }
      .img-round {
        border-radius: 35px;
        background: #FBFF1F;
        width: 35px;
        height: 35px;  
        color: transparent;
        text-align: center;
        padding-top:0;
        border: 1px solid gray;
        overflow: hidden;
      }
    .text-ul{
        list-style-type:none;
        display: table-footer-group;
        line-height:99%;
        color: #fff !important;
        font-size: 0.9rem;
       
        li a{
            color: #fff !important;
        }
    }
    
    
}
.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa  !important;
}
 